@model IEnumerable<MVC.Models.Post>

@{
    ViewData["Title"] = "Post";
}

<h1>@(ViewBag.Title)</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.body)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.body)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.postId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.postId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.postId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
